
@{
    ViewBag.Title = "图片上传";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input, textarea {
        color: #00B2E2;
    }

    .layui-upload-img {
        width: 92px;
        height: 92px;
        margin: 0 10px 10px 0;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <!-- 填写信息展示 -->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>上传文件</legend>
        </fieldset>
        <div class="layui-card-body" style="padding:15px;">
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">上传文件</label>
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn layui-btn-normal" id="file">
                                <i class="layui-icon">&#xe67c;</i>上传文件
                            </button>
                            <div class="layui-upload-list">
                                <table class="layui-table">
                                    <thead>
                                        <tr>
                                            <th>文件名</th>
                                            <th>大小</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="demoList"></tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">图片说明:</label>
                    <div class="layui-input-block">
                        <input type="text" id="Stract" value="" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">单选框:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="0" title="主图" checked="">
                        <input type="radio" name="sex" value="1" title="bannner图">
                        <input type="radio" name="sex" value="2" title="实景鉴赏">
                        <input type="radio" name="sex" value="3" title="周边配套 交通">
                        <input type="radio" name="sex" value="4" title="周边配套 商业教育">
                        <input type="radio" name="sex" value="5" title="周边配套 医疗休闲">
                        <input type="radio" name="sex" value="6" title="户型样板">
                        <!--1：bannner图  2：实景鉴赏 3：周边配套 交通   4：周边配套 商业教育  5 周边配套 医疗休闲  6：户型样板-->
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <button id="btnSubmit" type="button" class="layui-btn">上传</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    layui.use('form', function () {                     
            layui.form.render();
        });
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;
        var demoListView = $('#demoList')
            , uploadListIns = upload.render({
                elem: '#file'
                , url: "/Detail/UploadSave"
                , accept: 'file'
                , multiple: false
                , auto: false
                , bindAction: '#btnSubmit'
                //, data: {}
                , before: function (obj) {
                    this.data = { Stract: $("#Stract").val() ,ID: '@ViewBag.PID', Type: $("[type='radio']:checked").val() }
                },
                choose: function (obj) {
                    var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                    //读取本地文件
                    obj.preview(function (index, file, result) {
                        var tr = $(['<tr id="upload-' + index + '">'
                            , '<td>' + file.name + '</td>'
                            , '<td>' + (file.size / 1014).toFixed(1) + 'kb</td>'
                            , '<td>等待上传</td>'
                            , '<td>'
                            , '<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                            , '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                            , '</td>'
                            , '</tr>'].join(''));

                        //单个重传
                        tr.find('.demo-reload').on('click', function () {
                            obj.upload(index, file);
                        });
                        //删除
                        tr.find('.demo-delete').on('click', function () {
                            delete files[index]; //删除对应的文件
                            tr.remove();
                            uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                        });
                        demoListView.append(tr);
                    });
                }
                , done: function (res, index, upload) {
                    if (res.code == 0) { //上传成功                       
                        var tr = demoListView.find('tr#upload-' + index)
                            , tds = tr.children();
                        tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                        tds.eq(3).html(''); //清空操作
                        return delete this.files[index]; //删除文件队列已经上传成功的文件
                    }
                    this.error(index, upload);
                }
                , error: function (index, upload) {
                    var tr = demoListView.find('tr#upload-' + index)
                        , tds = tr.children();
                    tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                    tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
                }
            });
    });

</script>