@{
    ViewBag.Title = "房产信息添加";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    table a {
        text-decoration: none;
    }

    .layui-input-block {
        width: 190px;
    }

    /*.layui-form-item .layui-inline {
        margin-right: 250px;
    }*/

    input, textarea {
        color: #00B2E2;
    }
    table a {
        text-decoration: none;
    }

    .layuiadmin ul li {
        display: block;
        float: left;
        margin-left: 25px;
    }

    .li-active.active a {
        color: #009688;
    }

    .li-active a {
        color: #2789ba;
    }

    .tog {
    }
    /*
        调整多选框样式
    */
    .layui-card-header .layui-icon {
        right: 0px;
    }

    .layui-form-checkbox[lay-skin=primary] span {
        margin-top: -7px;
    }
</style>
<div class="layui-fluid form">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin">
            <ul class="nav nav-tabs">
                <li class="li-active ">
                    <a href="/home/list">房产列表信息</a>

                </li>
                <li class="li-active active">
                    <a href="/home/add">添加房产</a>
                </li>
                <li class="li-active">
                    <a href="/home/Customer">客户列表</a>
                </li>
            </ul>
        </div>
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">

        </div>
        <div class="layui-card-body" style="padding:15px;">
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">楼盘名称</label>
                        <div class="layui-input-block">
                            <input id="Name" value="" class="layui-input" type="text">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">楼盘地址</label>
                        <div class="layui-input-block">
                            <input id="Address" value="" class="layui-input" type="text">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">平均价格</label>
                        <div class="layui-input-block">
                            <input id="AveragePrice" value="" placeholder="必须是整数或者小数" class="layui-input" type="text">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">周边商业</label>
                        <div class="layui-input-block">
                            <input id="Business" value="" class="layui-input" type="text">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">周边学校</label>
                        <div class="layui-input-block">
                            <input id="School" value="" class="layui-input" type="text">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">周边医疗</label>
                        <div class="layui-input-block">
                            <input type="text" id="Hospital" value="" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">休闲娱乐</label>
                        <div class="layui-input-block">
                            <input type="text" id="Enjoy" value="" class="layui-input" />
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">交房时间</label>
                        <div class="layui-input-block">
                            <input type="text" id="DeadLine" value="" placeholder="例如：2023-10-1" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">总面积</label>
                        <div class="layui-input-block">
                            <input type="text" id="Areas" placeholder="必须是整数或者小数" value="" class="layui-input" />
                        </div>

                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">绿化率</label>
                        <div class="layui-input-block">
                            <input type="text" id="Green" value="" placeholder="必须是整数或者小数" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">房屋年限</label>
                        <div class="layui-input-block">
                            <input type="text" id="Years" placeholder="必须是整数" value="" class="layui-input" />
                        </div>

                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">物业名称</label>
                        <div class="layui-input-block">
                            <input type="text" id="Property" value="" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">开发商名称</label>
                        <div class="layui-input-block">
                            <input type="text" id="Develops" value="" class="layui-input" />
                        </div>

                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">预售许可证</label>
                        <div class="layui-input-block">
                            <input type="text" id="Certificate" value="" class="layui-input" />
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block" style="width:80%">
                        <input type="button" id="btnSave" lay-submit value="提交" class="layui-btn">
                        <input type="button" id="clear" value="清空" class="layui-btn">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $("input").attr('autocomplete', 'off');
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            //执行一个laydate实例
            laydate.render({
                elem: "#DeadLine"
            });
        });
        $("#clear").on('click', function () {
            location.reload();
        })
        $("#btnSave").on('click', function () {
            var ret = false;
            $("input[type='text']").each(function () {
                if ($(this).val().trim() == "") {
                    layer.msg($(this).parent().siblings('label').text() + "不能为空");
                    $(this).focus();
                    ret = true;
                    return false;
                }
            });
            if (ret) return;
            var data = {
                Name: $("#Name").val(),
                Address: $("#Address").val(),
                AveragePrice: $("#AveragePrice").val(),
                Business: $("#Business").val(),
                School: $("#School").val(),
                Hospital: $("#Hospital").val(),
                Enjoy: $("#Enjoy").val(),
                DeadLine: $("#DeadLine").val(),
                Areas: $("#Areas").val(),
                Green: $("#Green").val(),
                Years: $("#Years").val(),
                Property: $("#Property").val(),
                Develops: $("#Develops").val(),
                Certificate: $("#Certificate").val()
            };
            var index = layer.load();
            $.ajax({
                url: "/home/AddSave",
                type: "POST",
                data: data,
                success: function (json) {
                    layer.close(index);
                    if (json.Code == true) {
                        layer.msg("提交成功");
                        setTimeout(function () {                           
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);//关闭当前页
                        }, 2000);
                    }
                    else {
                        layer.msg("提交失败," + json.Message);
                    }

                },
                error: function () {
                    layer.msg("出现错误");
                }
            });
        });
    });
    //错误处理
    function OnError(XMLHttpRequest, textStatus, errorThrown) {
        layer.msg("出现错误" + errorThrown, { icon: 3 });
    }
</script>



