@charset "utf-8";

/*error empty*/
.tips.empty{overflow: hidden;text-align: center;margin: 60px auto;font-size: 14px;}
.icon-info{background: url(../images/woBox/woBox-info.png) 0 -120px no-repeat;overflow: hidden;line-height: 35px;float: none;padding: 10px 20px;}
.modul{overflow: hidden;}

.accountWrap a.blue{color: #3489f3;}
.accountTop{border: 1px solid #e6e6e6;border-bottom: 2px solid #3489f3;text-align: left;height: 37px;line-height: 37px;}
.accountTop li{float: left;width: 150px;text-align: center;font-size: 16px;font-family: "microsoft yahei";font-weight: bold;}
.accountTop li.cur{background: #3489f3;}
.accountTop a{text-decoration: none;}
.accountTop li.cur a{color: #fff;}

.accountMain{margin-top:30px;border: 1px solid #E6E6E6;height: auto;position: relative;margin-bottom: 30px;color: #404144;}
.accountMain .leftBar{width: 178px;text-align: left;border-right: 1px solid #E6E6E6;background: #fafafa;height: 100%;position: absolute;left: 0;}
.leftBar h2{height: 49px;background: #ededed;line-height: 49px;color: #404144;padding-left: 29px;}
.leftBar ul{margin: 30px 11px 0 11px;font-size: 14px;border-bottom: 1px dashed #cdcdcd;padding-bottom: 30px;}
.leftBar li{margin: 18px 0 0 18px;}
.leftBar a{color: #404144;font-size: 14px;}
.leftBar .cur a{color: #3489f3;}
.leftBar dl{margin-top: 18px;}
.leftBar dd{margin-left: 43px;}
.leftBar dt{margin-left: 29px;font-weight: bold;}
.leftBar dd ul{margin: 0;padding: 0;border: 0;}
.leftBar dd li{margin: 0;margin-top: 15px;}
.leftBar dt a{background: url(../images/account/bg-account.gif) 0 -248px no-repeat;padding-left: 14px;text-decoration: none;}
.leftBar dt.plus a{background-position: 0 -230px;}
.leftBar .mobile{margin: 20px 0 0 20px;line-height: 24px;}
.accountMain .rightBar{width: 829px;margin-left: 100px;min-height: 200px;}
.rightInfo{margin: 20px 0 0 25px;}
.rightInfo .avatar{height: 140px;width: 120px;overflow: hidden;text-align: center;}
.rightInfo .avatar img{width: 120px;height: 120px;}
.rightInfo .avatar a{display: block;padding-top: 5px;color: #3489f3;}
.accountInfo{width: 660px;margin-left: 16px;color: #7f7f7f;padding: 4px 0;}
.accountInfo li{margin-bottom: 13px;}
.accountInfo b,.accountInfo span{color: #404144;}
.accountInfo span.red1{color: #ff4400;}
.accountInfo a{color: #3489f3;padding-right: 24px;display: inline-block;}
.accountInfo a.icon span,.rightMenu dd span,.rightMainContent .hover a{background: url(../images/account/bg-account.gif) center;display: inline-block;width: 20px;height: 20px;vertical-align: middle;margin-left: 9px;}
.accountInfo a.mobile span{background-position: 0 0;}
a.mobile span.no{background-position: -41px 0px;}
.accountInfo a.email span{background-position: 0 -26px;}
a.email span.no{background-position: -41px -26px;}
.accountInfo a.credit span{background-position: 0 -49px;width: 33px;height: 21px;}
a.credit span.no{background-position: -41px -49px;}
.accountInfo a.msg{color:#f40;padding-right: 0;}

.rightMenu{margin:39px 0 0 27px;height: 64px;}
.rightMenu dd span{width: 38px;height: 38px;border: 1px solid #ccc;border-radius: 4px;margin:0;margin-bottom: 10px;}
.rightMenu a{color: #3489f3;}
.rightMenu dd,.rightMenu dt{float:left;text-align: center;}
.rightMenu dt{margin-top: 13px;}
.rightMenu dd{width: 68px;}
.rightMenu a:hover span{border:1px solid #3489f3;}
.rightMenu .im1{background-position: 8px -70px;}
.rightMenu .im2{background-position: 10px -107px;}
.rightMenu .im3{background-position: 10px -154px;}

.rightTab{margin: 36px 25px;border: 1px solid #e6e6e6;color: #404144;}
.rightTab a{color: #3489f3;}
.tabHead{height: 34px;line-height: 34px;background: #f5f5f5;border-bottom: 1px solid #E6E6E6;}
.tabHeadLeft{overflow: hidden;}
.tabHeadLeft a{text-decoration: none;padding: 0 22px;display: block;float: left;border-right: 1px solid #e6e6e6;font-family: "microsoft yahei";  color: #404144;font-size: 14px;}
.tabHeadLeft a.cur{border-bottom: 3px solid #F54100;height: 32px;background: url(../images/icon/arrow-red-up.gif) no-repeat bottom center;}
.tabHead .tabHeadRight{width: auto;height: 25px;margin-top: 9px;line-height: 25px;margin-right: 20px;}
.tabHeadRight a{display: block;float: left;padding: 0 16px;color: #404144;}
.tabHeadRight a.cur{color: #ff7324;background: #fff;border: 1px solid #e6e6e6;border-bottom: 0;}

.tabContent{margin: 24px 0 24px 30px;min-height: 204px;}
.tabContent thead td{border-bottom: 1px dashed #C9C9C9;padding: 12px 0;}
.tabContent table td{text-align: center;}
.tabContent tbody{border-bottom: 1px dashed #C9C9C9;}
.tabContent tbody td{padding: 12px 0;}
.tabContent .empty{border-bottom: 1px solid #EBEBEB;margin-right: 24px;text-align: center;padding-bottom: 10px;padding-top: 30px;}

.tabFoot{margin: 20px 0 0 26px;}
.tabFoot label{vertical-align: middle;padding: 0 10px;}

.rightMain{margin: 32px 25px;color: #404144;}
.rightMainTop{border-bottom: 1px solid #E6E6E6;height: 26px;}
.rightMainTop a{font-size: 14px;display: block;height: 100%;display: inline-block;padding: 0 12px;text-align: center;}
.rightMainTop a.cur{font-weight: bold;border-bottom: 2px solid #f54100;height: 25px;cursor: default;}
.rightMainTop a.cur:hover{color:initial}

.rightMainContent{margin-top: 22px;overflow: hidden;}
.rightMainContent .title{padding-bottom: 23px;}
.rightMainContent li{width: 100%;overflow: hidden;line-height: 28px;margin-bottom: 18px;}
.rightMainContent li.bottom{margin-top: 45px;}
.rightMainContent li .text{float: left;width: 60px;text-align: right;}
.rightMainContent li .item{float: left;margin-left: 10px;}
.rightMainContent li .item2{margin-top: 10px;}
.rightMainContent li .imgArea{width: 98px;height: 98px;border: 2px solid #ccc;background: #f5f5f5;text-align: center;line-height: 98px;position: relative;}
.rightMainContent .imgArea img{width:87px;height: 87px;}
.rightMainContent .imgArea.hover{border: 2px solid #ff7324;}
.rightMainContent .hover a{display: block;height: 14px;width: 14px;position: absolute;text-indent: -9999px;top: -7px;right: -7px;background-position: -21px -209px;}
.rightMainContent li label{padding: 0 16px 0 6px;}
.rightMainContent .inputAccount{width: 158px;height: 26px;padding: 0 5px;font-size: 14px;}
.rightMainContent .item span{color: #a6a6a6;padding-left: 12px;}
.rightMainContent .item .error{background: url(../images/icon-status.png) no-repeat 0 -86px;padding: 3px 0 3px 20px;margin-left: 12px;color: #f40;}

.remindSetting dl{padding-bottom: 20px;border-bottom: 1px dashed #bfbfbf;margin-top: 20px;}
.remindSetting dd{margin-top: 20px;height: 15px;line-height: 15px;}
.remindSetting dd label{padding-left: 6px;vertical-align: middle;}
.checkList{margin-left: 90px;}
.checkList .checkbox{}
.checkList label{margin-right: 63px;}
.rightMainContent .submit{margin-top:45px;}
.rightMainContent .item .ok{background: url(../images/icon-status.png) no-repeat 0 -400px;padding: 3px 0 3px 20px;margin-left: 12px;color: #f40;}

.table{width: 100%;border: 1px solid #ccc;color: #404144;border-width: 1px 0 0 1px;}
.table thead{}
.table thead td{height: 34px;background: #f5f5f5;text-align: center;}
.table tr{border-bottom: 1px solid #ccc;}
.table td{border-right: 1px solid #ccc;height: 50px;line-height: 22px;}
.table a{color: #3489f3;}
.table .td1{padding: 0 30px;width: 190px;}
.messages .tabFoot{margin-left: 33px;height: 24px;position: relative;}
.table label{padding-left: 5px;}

.pager-min{position: absolute;right: 0;bottom: 0;}
.pager-min a{color: #3489f3;}
.pager-min a.disabled{color: #a0a0a0;cursor: default;}

.modAccount{margin: 20px 25px 20px 25px;position: relative;}
h2.modTitle{border-bottom: 1px solid #ededed;height: 30px;line-height: 30px;}
h2.modTitle span{font-size: 14px;font-weight: bold;display: inline-block;padding: 0 10px;border-bottom: 2px solid #f40;height: 29px;}
.stepCharge{overflow: hidden;}
.stepCharge li{height: 32px;overflow: hidden;float: left;background: url(../images/account/arrow-right.gif) no-repeat right center;padding-right: 30px;margin: 30px 25px 0 0;}
.stepCharge li .step{color: #fff;font-size: 18px;font-weight: bold;background: url(../images/account/circle.gif) no-repeat;width: 32px;height: 32px;line-height: 32px;text-align: center;float: left;}
.stepCharge li.cur .step{background-image: url(../images/account/circle-cur.gif);}
.stepCharge li .text{float: left;height: 32px;padding-left: 5px;line-height: 16px;}
.stepCharge li.l{background: none;}
.stepCharge li.l .text{line-height: 32px;}
.rechargeInfo{overflow: hidden;margin-top: 15px;}
.rechargeInfo li{overflow: hidden;height: 32px;line-height: 32px;margin-top: 10px;}
.rechargeInfo li .text{float: left;width: 70px;}
.rechargeInfo li .info{width: 500px;float: left;text-align: left;}
.rechargeInfo li .input{height: 26px;line-height: 26px;width: 118px;}
.rechargeInfo li span{font-size: 24px;font-weight: bold;padding-right: 10px;}
em.red1{padding: 0 12px;}
.rechargeResult{margin: 60px 20px;font-size: 14px;background: url(../images/icon-status.png) no-repeat;height: 32px;line-height: 32px;padding-left: 40px;}
.rechargeResult.success{background-position: 0 -367px;}
.rechargeResult.error{color: #F40;background-position: 0 -52px;}
.tableRecord tbody td{text-align: center;line-height: 18px;}
.tableRecord tbody td a{margin: 0 3px;}
.tableRecord .td1{padding: 0 20px;width: 122px;}
.accountName{margin: 20px 0 15px 0;}
.modAccount .bottom{position: relative;margin-top: 15px;line-height: 12px;height: 12px;}
.modAccount .bottom .recordCount{}
.modAccount .bottom .pager{position: absolute;right: 0;top: 0;}
.modAccount .pager a{color: #3489f3;}
.modAccount .pager a.enable{cursor: default;color: #a0a0a0;text-decoration: none;}
.tablePackage{margin-top: 47px;}
.buyStep{position: absolute;right: 0;top: 0;}
.buyStep li{float: left;background: url(../images/account/buy-step.png) no-repeat;width: 120px;text-align: center;padding-bottom: 10px;background-position: -120px bottom;}
.buyStep li.cur{color: #f40;background-position: 0 bottom;padding-bottom: 10px;}
.payMod{margin-top: 16px;}
.payMod .payTitle{background: url(../images/account/bg-account.gif) -67px -245px no-repeat;padding-left: 20px;height: 15px;line-height: 15px;cursor: pointer;}
.payMod .payTitle.extend{background-position: -67px -224px;}
.payDetail{height: 70px;background: #fcf3ee;margin-top: 16px;}
.payDetail .item{padding: 10px 10px 0 10px;}
.payDetail .item span{font-weight: bold;padding: 0 3px;}
.payDetail .item .input{width: 58px;height: 20px;padding: 0 5px;line-height: 20px;border: 1px solid #c2c2c2;margin-right: 5px;}
.payDetail .btn{margin-left: 20px;}
.payDetail span.error{padding-left: 20px;font-weight: normal;}
.btnRedLL{background: url(../images/button/btn-red-6.gif) no-repeat;font-weight: bold;text-align: center;margin: 45px auto 0 auto;display: block;}
.payMethod{margin-top: 30px;}
.payMethodMod{}
.payMethodMod li{float: left;width: 210px;margin-right: 20px;}
.payMethodMod li .name{height: 12px;line-height: 12px;padding: 20px 0;}
.payMethodMod li .item{height: 42px;line-height: 42px;}
.payMethodMod .item .radio{}
.payMethodMod .item img{width: 184px;height: 40px;border: 1px solid #ddd;}

.modTips{height: 44px;line-height: 44px;overflow: hidden;}
.modTips a{padding-left: 25px;}
.modTable{border: 1px solid #e6e6e6;padding-bottom: 40px;}
.modTable h2.title{background: #f5f5f5;border-bottom: 1px solid #e6e6e6;height: 34px;line-height: 34px;position: relative;}
.modTable .title span{display: inline-block;height: 34px;padding: 0 12px;border-top: 2px solid #f40;background: #fff;line-height: 34px;font-weight: bold;font-size: 14px;}
.modTable .selectArea{position: absolute;right: 0;top: 0;}
.modTable .selectArea .select{margin-right: 10px;}

.modListA{margin: 0 20px;}
.modListA li{border-bottom: 1px dashed #ccc;overflow: hidden;height: 130px;}
.modListA li .item{float: left;overflow: hidden;height: 130px;}
.modListA .name{width: 390px;}
.modListA .name h3{height: 44px;line-height: 44px;overflow: hidden;}
.modListA .name a{color: #3489f3;font-weight: bold;font-size: 14px;}
.modListA p{line-height: 22px;}
.modListA .address{background: url(../images/house/icon16.gif) 0 -86px no-repeat;padding: 2px 0;display: inline-block;height: 16px;line-height: 16px;padding-left: 18px;margin-left: 20px;}
.modListA .square{font-weight: bold;line-height: 130px;width: 140px;}
.modListA .price{line-height: 130px;width: 110px;}
.modListA .price label{font-size: 12px;}
.modListA .price span{font-size: 26px;font-weight: bold;font-family: "microsoft yahei";}
.modListA li .tool{width: 80px;height: 50px;margin-top: 40px;}
.modListA .tool p{height: 25px;line-height: 25px;overflow: hidden;}
.modListA .tool .split{color: #aeaeae;padding: 0 10px;}
.modListA .tool a{color: #3489f3;}
.modListB .type{line-height: 140px;width: 140px;}
.modListB .price{width: 200px;line-height: 140px;}
.modListB li{height: 140px;}
.modListB li .item{height: 140px;}
.modTable .pager{height: 18px;line-height: 18px;position: relative;overflow: hidden;margin: 10px 20px;}
.modTable .pager .page{position: absolute;right: 10px;top: 0;}
.modTable .pager a{padding-right: 10px;}
.modTable .pager a:hover{color: #f40;}
.modTable .pager a.disabled,.modTable .pager a.disabled:hover{color: #a0a0a0;cursor: default;}
.usetips{background: #FCF3EE;overflow: hidden;line-height: 22px;padding: 20px 0;margin-top: 30px;}
.usetips h3{background: url(../images/account/icon-tips.png) left center no-repeat;padding-left: 20px;margin-left: 10px;}
.usetips p{padding: 0 30px;}

.modTitle.modTab a{display: inline-block;float: left;padding: 0 10px;font-size: 14px;color: #404144;background: url(../images/account/icon-split.png) no-repeat right center;position: relative;right: 0;top: 0;}
.modTitle.modTab a.l{background: none;}
.modTitle.modTab a.cur,.modTitle.modTab a:hover{border-bottom: 2px solid #F40;}
.modTitle.modTab a.cur{font-weight: bold;}
.modTitle.modTab label{}

.modAccount .formTitle{margin-top: 20px;height: 22px;line-height: 22px;}
.modAccount .formTitle span{display: inline-block;background: #ebebeb;padding: 0 11px;font-weight: bold;}
.modform li{margin-top: 17px;position: relative;display: inline-block;width: 100%;}
.modform li label{vertical-align: middle;}
.modform li input{height: 26px;border: 1px solid #ccc;padding: 0 5px;line-height: 26px\9;outline: none;}
.modform li .textArea{border: 1px solid #ccc;padding: 5px;resize: none;outline: none;}
.modform li .ui-tip{height: 28px;overflow: hidden;vertical-align: top;}
.modform li .select{height: 26px;border: 1px solid #ccc;}
.modform li p{height: 28px;line-height: 28px;position: relative;}
.modform li .text{width: 88px;float: left;}
.modform li .item{width: 630px;float: left;}
.modform li .label{padding: 0 5px;}
.modform li.liCheck{}
.modform li.liCheck p{line-height: normal;height: auto;}
.modform li.lidesc .text{height: 100px;line-height: 100px;}
.modform li.liCheck .text{height: 52px;line-height: 52px;}
.modform li.liCheck .item label{padding: 0 25px 0 5px;}
.modform li .tag{display: inline-block;padding: 0 20px 0 10px;height: 100%;background: #3489f3;color: #fff;position: relative;border-radius: 2px;margin-right: 10px;}
.modform .tag a{position: absolute;right: 5px;top: 0;text-decoration: none;color: #fff;}
.modform label.error{background: url(../images/icon-status.png) no-repeat;background-position: 0 -86px;height: 18px;line-height: 18px;color: #f40;display: inline-block;padding-left: 20px;margin-left: 10px;}
.modform label.hidden{display: none;}
.modform .tag a:hover{opacity: 0.8;}
.modform .imageItem{width: 100px;height: 160px;display: block;float: left;position: relative;margin-right: 35px;}
.modform .imageArea{display: block;height: 75px;width: 98px;position: relative;border: 1px solid #ccc;}
.modform .imageItem .close{position: absolute;width: 14px;height: 14px;right: -7px;top: -7px;background: url(../images/account/close.gif) no-repeat center;z-index: 10;text-indent: -9999px;display: none;}
.modform .imageItem:hover .close{display: block;}
.modform .imageItem:hover .imageArea{border: 1px solid #ff7324;}
.modform .imageArea img{width: 88px;height: 66px;margin: 4px;margin-bottom:0;}
.modform .imageArea .ui-tip{width: 98px;height: 23px;margin-top: 5px;}
.modform .imageArea input{border-width: 1px 0;width: 98px;height: 20px;border-bottom:0;}
.modform li.liCheck .imageArea label{padding: 0;}
.modform .imageItem .select{height: 20px;margin-top: 5px;width: 98px;line-height: 20px;padding: 0;}
.modform li.liImage{overflow: visible;}
.modAccount .btnBottom{margin: 10px 0 0 200px;}
.modform .imageItem .sCover{display: block;line-height: 12px;margin-top: 10px;text-align: center;color: #3489F3;text-decoration: none;}
.modform .sCover:hover{color: #ff7323;}
.modform .cover:hover{color: #3489f3;cursor: default;}

.uploadify{margin-top: 2px;float: left;}
.accountWrap .uploadify-queue{display: inline-block;position: absolute;left: 0;top: 30px;z-index: 20;border: 1px solid #E6E6E6;}
.uploadify .btnUpload,.item .uploadify:hover .btnUpload{background: url(../images/button/bg-button.gif) no-repeat;  cursor: pointer;  text-align: center;background-position: 0 -105px;  color: #404144;border: none;border-radius: 0;font-weight: normal;text-shadow: none;font-family: "SimSun","Arial";  font-size: 12px;width: 82px;height: 24px;}
.uploadify:hover .btnUpload{opacity:0.8}
.accountWrap .uploadify-queue-item{width: 400px;margin: 0;padding: 10px;z-index: 5;background-color: #f8f8f8;max-width: none;}

.modTable .ui-tip{height: 23px;overflow: hidden;vertical-align: top;margin-top: 5px;margin-right: 10px;}
.modTable .ui-tip .ui-tip-input{height: 21px;line-height: 21px\9;vertical-align: top;background: url(../images/icon/icon-search.png) #FFF no-repeat 130px center;}
.modTable .ui-tip span{padding: 0;border: 0 none;background: none;font-weight: normal;}

.avatar-edit-main{height: 380px;border: 2px solid #E3E3E3;border-radius: 2px;}
.avatar-edit-main .fileAvatar{height: 41px;width: 153px;cursor: pointer;position: absolute;left: 50%;top: 50%;margin: -20.5px 0 0 -76.5px;z-index: 2;opacity: 0;}
.avatar-edit-left{width: 550px;border-right: 1px solid #E3E3E3;height: 380px;overflow: hidden;text-align: center;position: relative;}
.avatar-edit-left .avatarOrigenal{max-height: 100%;vertical-align: middle;}
.avatar-edit-left .btnUpload{background: url(../images/button/btn-select-file.png) no-repeat;height: 41px;width: 153px;cursor: pointer;position: absolute;left: 50%;top: 50%;margin: -20.5px 0 0 -76.5px;z-index: 1;}
.avatar-edit-left .uploadify{overflow: hidden;margin: 0;position: absolute;z-index: 2;left: 50%;top: 50%;margin: -20.5px 0 0 -76.5px;}
.avatar-edit-left .uploadify .btn-upload{background: none;background: none;display: block;text-indent: -9999px;border: none;cursor: pointer;}
.avatar-edit-left .uploadify:hover .btn-upload{background: none;background: none;display: block;text-indent: -9999px;border: none;}
.avatar-edit-left .uploadify .swfupload{left: 0;top: 0;}
.avatar-edit-right{height: 380px;width: 172px;}
.avatar-edit-right h3{width: 100px;margin: 18px auto 0 auto;text-align: left;color: #666;line-height: 1.0;}
.avatar-preview{width: 100px;height: 100px;border: 2px solid #F7F7F7;border-radius: 2px;margin: 8px auto 0 auto;overflow: hidden;}
.avatar-edit-btn{text-align: right;margin-top: 16px;}
.loading-text{position: absolute;left: 0;right: 0;bottom: 0;top: 0;z-index: 10;color: #404144;display: none;}

.amap{height: 300px;border: 4px solid #EAEAEA;width: 600px;}
